
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Poppins:wght@400;600&display=swap');


.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease;
}

.left-column,
.right-column {
  flex: 1;
  padding: 20px;
}

.print-preview {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.upload-box {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  border: 2px dashed #ccc;
  cursor: pointer;
}

.upload-box:hover {
  border-color: #444;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
  border-color: #0077ff;
}

textarea {
  resize: none;
  height: 100px;
}

button {
  padding: 12px 20px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

button:focus {
  outline: none;
}
